# Ignore everything in 'data' folder
data/input/*

# Except for 'sampler'
!data/processed/
!data/input/housing_characteristics/
!data/output/

# Ignore __pycache__ directories
__pycache__/

# Ignore compiled Python bytecode files
*.pyc

# .vscode folder
.vscode/